@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(39, 39, 39);
  color: #ffffff;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1, h2, h3{
  margin: 20px 10px;
}

.box-1{
  border: solid 1px rgba(230, 30, 91);
  width: 50vw;
  height: 50vh;
}
