@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato',sans-serif;
  font-size:20px;
  color: #FFFFFF;
  background: #000000;
}

h1,h2,h3{
  margin: 20px 10px;
}

.container{
  width: 100%;
  height: 800px;
  margin: 10px auto;
  padding: 10px;
  background: rgb(39,39,39);
  color: #fff;
}

nav{
  text-decoration-color: #FFFFFF;
  color: rgb(230, 31, 90)
}

#tbl-01{
  margin-top: 30px;
  width: 50%;
  font-size: 30px;
  font-weight: 400;
  border: 3px solid #000000;
  border-collapse: collapse;
  background-color: #292a27;
}
#tbl-01 th,td{
  border: 3px solid #000000;
}

#tbl-01 td[colspan]{
  background-color: #1a1f8e;
  text-align: center;
}

#tbl-01 td[rowspan]{
  background-color: #1a1f8e;
  text-align: center;
}

#tbl-02{
  margin-top: 30px;
  width: 50%;
  font-size: 30px;
  border: 3px solid #000000;
  border-collapse: collapse;
  background-color: #292a27;
}
#tbl-02 th,td{
  border: 3px solid #000000;
}

#tbl-02 tr:nth-child(even){
  background-color: #f5abe5;
}

#tbl-02 tr:nth-child(odd){
  background-color: #6dced1;
}

#tbl-02 tr:HOVER{
  background-color: #26d228;
}
